.wrap_select {
  position: relative;
  width: 100%;
}

.rec_input_custom.text_input {
  height: 3.5rem !important;
  border-radius: 10px;
  border: 0.75px solid var(--color-toryBlue);
}

.rec_checkbox_custom {}

.no-border.rec_select_input_pre__control {
  border: 0 !important;

}

.no-border.rec_select_input_pre_2__control {
  border: 0 !important;
}

.font-1rem.rec_select_input_pre__placeholder {
  font-size: 1rem;
}

.font-1rem.rec_select_input_pre_2__placeholder {
  font-size: 1rem;
}

.rec_select_input_pre__control {
  border: 0.75px solid var(--color-toryBlue) !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 0 0.5rem 0 1rem !important;
  min-height: 50px !important;
}

.rec_select_input_pre_2__control {
  border: 0.75px solid var(--color-toryBlue) !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 0.8rem 1.3rem !important;
}

.rec_select_input_pre__control:hover {
  border: 0.75px solid var(--color-toryBlue) !important;
}

.rec_select_input_pre_2__control:hover {
  border: 0.75px solid var(--color-toryBlue) !important;
}

.rec_select_input_pre__menu {
  z-index: 3 !important;
}

.rec_select_input_pre_2__menu {
  z-index: 3 !important;
}

.recInput-text {
  background-color: white;
  border: 0.75px solid var(--color-toryBlue);
  border-radius: 10px;
  overflow: hidden;
}
.recInput-text.recInput-text-status{
  border-radius: 30px;
  height: 4rem;
}
.recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control{
 height: 100%;
}
.recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control.rec_prefix{
padding-left: 4.5rem;
}.recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control.rec_suffix{
padding-right: 10rem;
}

.recInput-text>.recInput-text-prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  z-index: 1;
}

.recInput-text>.recInput-text-suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  z-index: 1;
}

.input-group>.form-control.recInput__input-text {
  height: 3.125rem;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  color: var(--color-toryBlue)
}
.input-group>.form-control.recInput__input-text.rec_prefix{
  padding-left: 3rem;
}
.input-group>.form-control.recInput__input-text.rec_suffix{
  padding-right: 3rem;
}

.input-group>.form-control.recInput__input-area {
  height: 3.375rem;
  min-height: 3.375rem;
  background-color: transparent;
  border: none;
  padding: 1rem 3rem;
}

.custom-control-label {
  font-size: 1.125rem;
  color: var(--color-toryBlue);
}

.custom-control-label::before {
  border: 0.75px solid #204A9D;
  top: 50%;
  transform: translateY(-50%);
}

.custom-control-input:checked~.custom-control-label::before {
  border: 0.75px solid #204A9D;
  background-color: #204A9D;
}


.rec_select_input_pre__single-value, .rec_select_input_pre__placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  font-family: "Averta";
  color: var(--color-toryBlue) !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.rec_select_input_pre_2__single-value, .rec_select_input_pre_2__placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  font-family: "Averta";
  color: var(--color-toryBlue) !important;
}

.input_number {
  width: 3.8rem;
  height: 2.8rem;
  border: 0.75px solid #204A9D;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  color: #204A9D;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: none;
}

.input_number:focus {
  border: 0.75px solid #204A9D;
  border-radius: 10px;
  box-shadow: 0 0 5px #719ECE;
}

.ico-number:hover {
  cursor: pointer;
  filter: invert(27%) sepia(211%) saturate(2878%) hue-rotate(180deg) brightness(104%) contrast(97%)
}

@media (max-width: 767.98px) {
  .custom-control-label {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .recInput-text>.recInput-text-prefix {
    position: static;
    transform: translateY(0);
  }
  .recInput-text>.recInput-text-suffix {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
  .recInput-text.recInput-text-status{
    height: auto;
  }
  .recInput-text{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control{
    height: 3rem;
    width: 100%;
    padding: 2rem 1rem;
  }
  .recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control.rec_prefix{
    padding-left: 1rem;
  }
  .recInput-text.recInput-text-status.input-group>.recInput__input-text.form-control.rec_suffix{
     padding-right: 1rem;
   }
}
