button.outline-wIcon-block {
  background-color: var(--color-white);
  padding: 0 1rem;
  min-height: 3.125rem;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button>.btnWIcon--text{
  margin: 0 1rem;
}
button.outline-wIcon-block:focus{
  outline: none;
}

.outline-wIcon-block.outline-wIcon-clear {
  border: 2px solid var(--color-white);
  color: var(--color-toryBlue);
  background-color: var(--color-white);
}

.outline-wIcon-block.outline-wIcon-clear:hover {
  text-decoration: underline;
}
.outline-wIcon-block.outline-wIcon-clear-yellow {
  border: 2px solid var(--color-white);
  color: var(--color-creamCan);
  background-color: var(--color-white);
}

.outline-wIcon-block.outline-wIcon-clear-yellow:hover {
  text-decoration: underline;
}
.outline-wIcon-block.outline-wIcon-yellow {
  border: 2px solid var(--color-creamCan);
  color: var(--color-creamCan);
  background-color: var(--color-white);
}

.outline-wIcon-block.outline-wIcon-yellow:hover {
  border: 2px solid var(--color-black);
  color: var(--color-black);
  background-color: var(--color-white);
}

.outline-wIcon-block.outline-wIcon-blue {
  border: 2px solid var(--color-toryBlue);
  color: var(--color-toryBlue);
  background-color: var(--color-white);
}

.outline-wIcon-block.outline-wIcon-blue:hover {
  box-shadow: 0 0 2px black;
}
