.bank__news .custom__line{
  max-width: 17rem;
}

.bank__news .custom__title{
  color: var(--color-matisse);
  font-weight: bold;
  font-weight: 1.5rem;
  padding: 0 15px;
  white-space: nowrap;
}
.bank__news .btn__search--filter{
  width: 16rem;
  margin: 3.375rem 0;
}

.bank__news .filter__item--image{
  width: 13.687rem;
  height: 13.687rem;
  border-radius: 10px;
  border: 1px solid var(--color-matisse);
  cursor: pointer;
}

.bank__news .filter__item.active .filter__item--image{
  border: 1px solid var(--color-creamCan)
}
.bank__news .sub__text{
  cursor: pointer;
}
.bank__news .filter__item.active .sub__text{
  color: var(--color-creamCan);
  font-weight: bold;
}

.bank__news .promote__image__holder{
  height: 18rem;
  width: 100%;
  object-fit: cover;
  border: 4px solid #FFFFFF;
  filter: drop-shadow(0px 0px 5px rgba(12, 34, 79, 0.6));
  border-radius: 5px;
}
.bank__news:before{
  content: '';
  position: absolute;
  background-color: var(--color-whiteLilac);
  width: 100%;
  height: 50%;
  z-index: 0;
  left: 0;
  bottom: 0;
}

.bank__news .houses__button{
  height: 50px !important;
}

.bank__news .houses__news{
  box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
}