.project__incentives .custom__line {
  max-width: 17rem;
}

.project__incentives .custom__title {
  color: var(--color-matisse);
  font-weight: bold;
  font-weight: 1.5rem;
  padding: 0 15px;
  white-space: nowrap;
}

.project__incentives .promote__image__holder {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  border: 4px solid #ffffff;
  filter: drop-shadow(0px 0px 5px rgba(12, 34, 79, 0.6));
  border-radius: 5px;
}

.project__banner--container .projects__image {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 6rem;
  transform: translate(-5rem, 4.5rem);
}
.project__banner--container .banner__text .banner__text--top {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
}

.project__banner--container .banner__text {
  position: absolute;
  left: 15%;
  top: 2rem;
  width: 40%;
}
.banner__text .banner__text--middle {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #f5be54;
}
.project__banner--container {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media (max-width: 1200px) {
  .project__banner--container .banner__text {
    left: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 900px){
  .banner__text .banner__text--middle {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .project__banner--container .banner__text .banner__text--top {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
.filter__item{
  text-align: center;
}