.cardStream{
  border: 1.5px solid var(--color-red-300);
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}
.cardStream__imageVideo{
  max-height: 33rem;
}
