.detailGroup-wallpaper{
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}
.detailGroup-search{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:transparent;
}
