.option__filter {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
}
.option__filter > .btn__inactive {
  border: none;
  opacity: 0.5;
}
.option__filter > .btn__option {
  margin: 0rem 1rem;
}
.option__filter > .btn__option:hover {
    border: 2px solid  var(--color-matisse);;
    color: var(--color-black);
    background-color: var(--color-white);
}
.project__trend .custom__title {
  color: var(--color-matisse);
  font-weight: bold;
  font-weight: 1.5rem;
  padding: 0 15px;
  white-space: nowrap;
}
.project__trend > .line__text{
    width: 70rem;
}
.card__project{
    margin: 0rem 0.5rem;
}