import { withTranslation, i18n } from '../../i18n'
import { I18nContext } from 'next-i18next'
import { useContext } from 'react'
import Link from 'next/link'
import './styles.css'

const {{name}}Page= ({t}) => {
  const { i18n: { language } } = useContext(I18nContext)

  return (
    <>
      <div className="{{name}}Page">
        {t('homePage')}
      </div>
    </>
  )
}

{{name}}Page.getInitialProps = async () => ({
  namespacesRequired: ['common'],
})


export default withTranslation('common')({{name}}Page)
