.project__local__trend .custom__line{
    max-width: 17rem;
  }
  
  .project__local__trend .custom__title{
    color: var(--color-matisse);
    font-weight: bold;
    font-weight: 1.5rem;
    padding: 0 15px;
    white-space: nowrap;
  }
  .project__local__trend .btn__search--filter{
    width: 16rem;
    margin: 3.375rem 0;
  }
  
  .project__local__trend .filter__item--image{
    width: 10.687rem;
    height: 10.687rem;
    border-radius: 10px;
    border: 1px solid var(--color-matisse);
    cursor: pointer;
  }
  
  .project__local__trend .filter__item.active .filter__item--image{
    border: 1px solid var(--color-creamCan)
  }
  .project__local__trend .sub__text{
    cursor: pointer;
  }
  .project__local__trend .filter__item.active .sub__text{
    color: var(--color-creamCan);
    font-weight: bold;
  }
  
  .more__all{
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-decoration-line: underline;
    color: var(--color-creamCan);
  }