.houses__section--search .house__section--title{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-toryBlue);
}

/* SEARCH CONTAINER */
.houses__section--search .houses__search--container{
  width: 70rem;
  background: white;
  border: 0.75px solid var(--color-matisse);
  box-shadow: 0px 0px 20px 10px #0000001a;
  border-radius: 10px;
  padding: 1.7rem 2rem 0 2rem;
  min-width: 26rem;
}

.houses__search--container .show__more{
  color: var(--color-creamCan);
  cursor: pointer;
}
.houses__section--search .search__input{
  height: 50px ;
}
.houses__section--search .search__input .recInput__input-text{
  padding: 1rem;
}

.houses__section--search .google_map{
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(84, 90, 245, 0.08);
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.houses__section--search .google_map:hover{
  box-shadow: 0px 0px 10px 5px rgba(84, 90, 245, 0.2);
}
.houses__section--search .map__text{
  font-size: 0.75rem;
  color: var(--color-matisse);

}
.houses__section--search .search__input.from::before{
  content: "Từ";
  color: #000;
  position: absolute;
  left: 0;
  top: -1.2rem;
  font-size: 0.75rem;  
}
.houses__section--search .search__input.to::before{
  content: "Đến";
  color: #000;
  position: absolute;
  left: 0;
  top: -1.2rem;
  font-size: 0.75rem;  
}

.houses__section--search .search__input input{
  text-align: center !important;
}



/* Button Seach filter */
.houses__section--search .btn__search--filter{
  color: var(--color-matisse);
  border: 2px solid white;
}
.houses__section--search .btn__search--filter:hover,
.houses__section--search .btn__search--filter:focus{
  color: var(--color-matisse);
  border: 2px solid white;
  background-color: white;
}

.houses__section--search .btn__search--filter:active{
  color: var(--color-matisse) !important;
  /* border: 2px solid white !important; */
  background-color: white !important;
}

.houses__section--search .btn__search--filter.outline_button-yellow,
.houses__section--search .btn__search--filter.outline_button-yellow:hover{
  color: var(--color-creamCan);
  border: 2px solid var(--color-creamCan);
}

