button.outline_button {
  background-color: var(--color-white);
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 3.125rem;
  box-shadow: none;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.outline_button.outline_button-yellow {
  border: 2px solid var(--color-creamCan);
  color: var(--color-creamCan);
  background-color: var(--color-white);
}

.outline_button.outline_button-yellow:hover {
  border: 2px solid var(--color-black);
  color: var(--color-black);
  background-color: var(--color-white);
}

.outline_button.outline_button-blue {
  border: 2px solid var(--color-toryBlue);
  color: var(--color-toryBlue);
  background-color: var(--color-white);
}

.outline_button.outline_button-blue:hover {
  border: 2px solid var(--color-creamCan);
  color: var(--color-black);
  background-color: var(--color-white);
}

.outline_button.outline_button-clear {
  border: 2px solid var(--color-white);
  color: var(--color-toryBlue);
  background-color: var(--color-white);
}

.outline_button.outline_button-clear:hover {
  text-decoration: underline;
}
.outline_button.outline_button-clear-yellow {
  border: 2px solid var(--color-white);
  color: var(--color-creamCan);
  background-color: var(--color-white);
}

.outline_button.outline_button-clear-yellow:hover {
  text-decoration: underline;
}

@media(min-width: 1470px) {
  button.outline_button {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
