.rec_card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.rec_card.rec_card-horizontal {
  display: flex;
  flex-direction: row;
}

.rec_card_img {}

.rec_card_img>.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rec_card_detail {
  margin: 0.8rem 1.25rem;
  color: #0f4d98;
}

.rec_card_price {
  border-top: 0.0625rem solid #0e4d98;
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rec_card_seller {
  margin: 1rem;
  position: absolute;
  top: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.rec_card_seller:hover {
  cursor: pointer;
}

.Avatar_seller {
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
}

.card_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.card_title:hover {
  cursor: pointer;
}

.card_address {
  margin: 0.2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

.card_sub_title {
  line-height: 20px;
  white-space: pre-line;
}

.card_btn {
  border-radius: 0.625rem !important;
  padding: 0px 0.625rem !important;
}

.label_price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #0f4d98;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.number_price {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: #e92a2a;
}

.header_seller>.header_avatar {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.rec_header_card {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: space-between;
}

.header_info>.header_name {
  display: flex;
}

.header_name>.text_name {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 30px;
  text-decoration-line: underline;
  color: #204a9d;
}

.header_name>.text_name:hover {
  cursor: pointer;
}

.header_name>.header_tag {
  border: solid 1px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #e762f2, #961681);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #961781;
  font-weight: bold;
  margin: auto;
  font-size: 0.8125rem;
}

.header_info>.header_company {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(32, 74, 157, 0.5);
}

.rec_header_card>.header_menu {
  padding: 0.5rem;
}

.rec_header_card>.header_menu:hover {
  cursor: pointer;
}

/* Card-Seller */

.rec_card_experience {
  border-top: 0.0625rem solid #0e4d98;
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rec_card_experience>.chid_exp {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  color: #204a9d;
}

.chid_exp>.text_exp {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  color: rgba(32, 74, 157, 0.5);
  margin-top: 0.5rem;
}

.ico_star_exp {
  width: 1.2rem;
  margin: 0rem 0.25rem;
}

/* card-news */

.card_news_img>.news_img {
  width: 100%;
  height: 20rem;
}

.rec_card_news {
  background-color: white;
}

.rec_card_news:hover {
  cursor: pointer;
}

.card_news_info {
  padding: 1.7rem 1.4rem;
}

.card_news_info>.news_title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #0f4d98;
}

.card_news_info>.news_describe {
  margin-top: 1.5rem;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #0f4d98;
}

.card_news_info>.news_more {
  color: #0f4d98;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.news_more>.btn_read {
  background-color: #0f4d98;
  border-radius: 10px !important;
  padding: 0rem 1.8rem;
  min-height: 2.5rem;
}

@media (max-width: 767.98px) {
  .rec_card.rec_card-horizontal {
    flex-direction: column;
  }
}

/* card-project */

.rec_card_project {
  background: #ffffff;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.rec_card_project_2 {
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  /* height: 40rem; */
}

.rec_card_project:hover {
  cursor: pointer;
  border: 1px solid #01aeef;
}

.rec_card_project_2:hover {
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.rec_card_project>.card_project_logo {
  padding: 0.4rem 0rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 5rem;
}

.card_project_logo>.img_project_logo {
  max-width: 55%;
  max-height: 100%;
}

.rec_card_project>.card_project_img {
  width: 100%;
  height: 11rem;
}

.card_project_img>.img_project_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rec_card_project>.card_project_detail {
  padding: 1rem;
}

.card_project_detail>.detail_title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #0f4d98;
}

.card_project_detail>.detail_location {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-align: center;
  color: #afafaf;
  margin-top: 0.55rem;
}

.card_project_detail>.detail_investor {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.37rem;
  text-align: center;
  color: #0f4d98;
  margin-top: 1.25rem;
}

.rec_card_project>.card_project_detail_2 {
  padding: 1.5rem 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #204a9d;
}

.card_project_detail_2>.detail_location {
  border-bottom: 0.5px solid #0f4d98;
  display: flex;
  align-items: center;
}
.border__top-solid{
  border-top: 0.5px solid #0f4d98;
  padding-top: 1rem;
}
.card_project_detail_2>.detail_acreage {
  border-bottom: 0.5px solid #0f4d98;
  display: flex;
  align-items: center;
}
.detail_description>.detail_compass {
  text-overflow: ellipsis;
  max-height: 6rem;
  overflow: hidden;
  line-height: 1.2rem;
}

.icon_detail_proj {
  width: 1.1rem;
  height: 1.1rem;
}

.card_project_detail_2>.detail_description {
  display: flex;
  align-items: center;
}

.detail_description>.descriptions {
  line-height: 1.3rem;
  height: 6.5rem;
  overflow: hidden;
}

.color_yellow {
  color: var(--color-creamCan) !important;
}

.header_avatar>.h_avatar_seller {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.header_avatar>.h_avatar_seller:hover {
  cursor: pointer;
}

.header_name>.header_tag {
  border: solid 1px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white), linear-gradient(to right, #e762f2, #961681);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #961781;
  font-weight: bold;
  margin: auto;
  font-size: 0.8125rem;
}

/* Card-Seller */

.rec_card_experience {
  border-top: 0.0625rem solid #0e4d98;
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rec_card_experience>.chid_exp {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  color: #204a9d;
}

/* Story */

.storyCard-block {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.storyCard__head {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
}

.storyCard__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.storyCard__head-name {
  color: white;
  text-decoration: underline;
  margin-left: 1rem;
  size: 0.875rem;
}

.storyCard__content-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0.125rem 0.5rem;
}

.cardStatus_title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.cardStatus_describe {
  padding: 1rem;
  background: #F4F7FC;
  border-radius: 10px;
}

.cardStatus_img {
  width: 100%;
  height: 16.25rem;
  object-fit: cover;
  cursor: pointer;
}

.cardStatus_subImg {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  cursor: pointer;
}

.cardStatus_subImg.remain__image {
  width: 100%;
  height: 8rem;
  background: gray;
  opacity: 0.5;
  display: grid;
  place-items: center;
  color: var(--color-white);
  font-size: 1.5rem;
  position: relative;
}

.cardStatus__price-text1 {
  font-size: 1rem;
  color: #204A9D;
}

.cardStatus__price-text2 {
  font-weight: bold;
  font-size: 1.25rem;
  color: #E92A2A;
}

.cardStatus-tags {
  padding: 1.75rem;
}

.cardStatus__tags-item {
  font-size: 0.875rem;
  color: #204A9D;
  padding: 0.675rem;
  background: #E7F1FF;
  border-radius: 20px;
  margin-right: 0.5rem;
  text-transform: capitalize
}

.cardStatus__tags-item.cardStatus__tags-item-sell {
  color: var(--color-white);
  background: var(--color-green-300);
}

.cardStatus__tags-item.cardStatus__tags-item-buy {
  color: var(--color-white);
  background: var(--color-red-300);
}
.likeComment-block{
  padding: 2rem 2rem 0 ;

}
.likeSeenComment__peopleComment{
  display: flex;
  flex-direction: column;
  border-radius:18px;
  background: var(--color-whiteLilac);
  padding: 0.5rem 0.75rem;
}

.like-comment-seen {
  display:flex;
  align-items:center;
  margin-bottom: 2rem;
}
.peopleComment--name{
  cursor: pointer;
  font-weight: bold;
  color: var(--color-toryBlue);
}
.peopleComment--comment{
}

.likeSeenComment__viewMore-comment{
  cursor: pointer;
  color: var(--color-toryBlue);
  padding: 0 1rem;
}
/* house-notification */

.rec_house_notify>.house_notify {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #204a9d;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  margin: 1rem 0rem;
}

.rec_house_notify {
  position: relative;
}

.tab_content_notify>.wrap_label_notify {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 25px;
  color: #204a9d;
  padding: 1.5rem 1rem 0.5rem;
}

.wrap_label_notify>.notify_ico_close {
  right: 1rem;
  width: 1.2rem;
  position: absolute;
}

.wrap_label_notify>.notify_ico_close:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rec_house_notify>.rec_card>.rec_card_price {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: #f5be54;
}

.rec_house_notify>.rec_card>.rec_card_img>.card_img {
  width: 100%;
  max-height: 15.8rem;
  object-fit: cover;
}

.hover_point:hover {
  cursor: pointer;
}

.rec_house_notify>.rec_card>.rec_card_detail>.card_address {
  font-size: 0.9rem;
}

.wrap_notify>.tab_content_notify {
  max-height: 50rem;
  overflow: hidden;
}

.tab_content_notify>.wrap_content_notify {
  padding: 0rem 1rem 1rem;
  max-height: 46.5rem;
  overflow-y: auto;
  background: white;
}

.wrap_messages_tab>.tab_content_messages {
  position: absolute;
  transform: translateX(-25rem);
  background: white;
  width: 24rem;
  height: 32rem;
  background: #ffffff;
  box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 1.5rem;
  overflow: hidden;
}

.content_a_message>.avatar_messages {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: solid 2px transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(white, white), linear-gradient(to right, #2491df, #41de9c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 1rem;
}

.wrap_content_messages>.content_a_message {
  display: flex;
  align-items: center;
}

.content_message>.name_message {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #204a9d;
  white-space: nowrap;
  width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_message>.content_mess {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #204a9d;
  white-space: nowrap;
  width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab_content_messages>.wrap_label_messages {
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #204a9d;
  justify-content: space-between;
  display: flex;
  margin: 0rem 0rem 1rem 0rem;
}

.tool_messages>.ico_tool_messages {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.5rem;
}

.tool_messages>.ico_tool_messages:hover {
  cursor: pointer;
}

.wrap_content_messages {
  margin: 0.8rem 0rem;
}

.wrap_content_messages:hover {
  background: rgb(0 0 0 / 8%);
  border-radius: 5px;
}

.tab_content_messages>.wrap_content_message {
  padding: 0rem 1rem 1rem;
  max-height: 26rem;
  overflow-y: auto;
  background: white;
}

.badge_notify {
  background-color: red;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  color: #ffffff;
  transform: translate(13px, -11px);
  font-size: 0.9rem;
}
