/* =.=.=.=.= Header  =.=.=.=.= */
.recHeader-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.recHeader-text p{
  font-weight: bold;
  color:var(--color-toryBlue);
  font-size: 1.125rem;
  margin-bottom:0;
}

.recHeader__info {
  color: var(--color-toryBlue);
  font-weight: bold;
  font-size: 1.125rem;
}

.recHeader-subMenu {
  background-color: var(--color-toryBlue);
}

.recHeader__subMenu__row {
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recHeader__subMenu__link {
  display: grid;
  place-items: center;
}

.recHeader__subMenu__link>a {
  color: var(--color-white);
  font-family: "Averta";
  text-transform: uppercase;
  font-size: 1.125rem;
}

.recHeader__subMenu__row-person {
  font-weight: bold;
}

.recHeader__subMenu__row-active {
  border-bottom: 2px solid var(--color-creamCan);
  border-bottom: 5px solid var(--color-creamCan);
}

/* =.=.=.=.= Footer =.=.=.=.= */

.recFooter {
  padding-top: 1.75rem;
  background-color: var(--color-toryBlue)
}

.recFooter-copyright {
  background-color: var(--color-blue-300);
  height: 2.75rem;
  display: grid;
  place-items: center;
}

.recFooter-copyright>span {
  font-size: 1.125rem;
}

.recFooter-name {
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.recFooter__info {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.recFooter__text {
  color: var(--color-white);
  font-size: 1.5rem;
}

.recFooter__text:hover {
  color: var(--color-white);
}

.recFooter_about-title-area {
  height: 9.25rem;
  display: flex;
  align-items: center;
}

.recFooter_about-title {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.recFooter_about-link {
  color: var(--color-white);
  font-size: 1.25rem;
}

.recFooter_about-link:hover {
  color: var(--color-white);
}

@media (min-width: 1470px) {}

@media (min-width: 768px) {}

@media (max-width: 991.98px) {
  .recHeader>.container {
    max-width: 100%;
  }
  .recHeader__info-image {
    width: 1.25rem;
  }
  .recHeader__info {
    font-size: 1rem;
  }
}

@media(max-width: 767.98px) {
  .recHeader__info {
    font-size: 1rem;
  }
  .recHeader__subMenu__link>a {
    font-size: 1rem;
  }
  /* Footer */
  .recFooter-name {
    font-size: 1rem;
  }
  .recFooter__text {
    font-size: 1rem;
  }
  .recFooter_about-title-area {
    height: auto;
    margin-bottom: 1rem;
  }
  .recFooter_about-title {
    font-size: 1rem;
  }
  .recFooter_about-link {
    font-size: 1rem;
  }
  .recFooter-copyright>span {
    font-size: 1rem;
  }
}
