.houses__section--slide{
  padding-bottom: 5rem;
  position: relative;
}
@media(max-width: 1470px) {
  .houses__section--slide {
    padding-bottom: 0;
  }
}

.slide__panel{
  height: 40.4375rem;
}

.slide__panel img{
  height: 100%;
}

.houses__slide--info{
  position: absolute;
  top: 10rem;
  left: calc((100vw - 1474px)/2);
  width: 21.6875rem;
  height: 500px;
  z-index: 1;
}


@media(max-width: 1470px) {
  .houses__slide--info {
    left: 10rem;
  }
}
@media (max-width: 767.98px) {
  .houses__slide--info {
    top: 15rem;
    left: 50vw;
    transform: translate(-50%, 50%);
  }
}
/*   ABSOLUTE BOX  IN SLIDE */
.houses__slide--info .houses__info{
  background-color: white;
  border-radius: 10px;
  border: 0.75px solid var(--color-matisse);
  padding: 0 1.3rem;
}
.houses__info--title,
.houses__info--address,
.houses__info--area{
  font-size: 0.875rem;
  padding: 19px 0;
  border-bottom: 0.5px solid var(--color-toryBlue) ;
  color: var(--color-matisse);
}
button.houses__info--button{
  border: 0.75px solid var(--color-matisse);
}

/*  Arrow custom */
.house__arrow-ico{
  background-color: var(--color-creamCan);
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.house__arrow-ico.left__ico{
  top: 1rem;
  left: -1rem;
}
.house__arrow-ico.right__ico{
  top: 1rem;
  right: -1rem;
}

.houses__section--ads{
  position: absolute;
  bottom: 0;
  left: calc((100vw - 92.125rem)/2);
  width: 92.125rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767.98px) {
  .houses__section--ads{
    position: relative;
    flex-direction: column;    
    align-items: center;
    left: auto;
    width: 100vw;
    margin-top: 15rem;
  }
}
@media(max-width: 1470px) {
  .houses__section--ads{
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    left: auto;
    width: 100vw;
  }
  .houses__section--ads .houses__ads{
    margin: 1rem 100px;
  }
}

.houses__section--ads .houses__ads{
  position: relative;
  width: 28.25rem;
  height: 11rem;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(12, 34, 79, 0.6));
  display: grid;
  place-items: center;
  margin: 1rem 1rem;
}
.house__outline-btn{
  background-color: transparent !important;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

.houses__ads .ads__background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.houses__ads .ads__background:after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-matisse);
  position: absolute;
  opacity: 80%;
  left: 0;
  top: 0;
}
.houses__ads .ads__title{
  font-weight: bold;
  color: white;
  z-index: 1;
  text-align: center;
  position: relative;
  font-weight: 1.875rem;
}