.custom__title{
    color: var(--color-matisse);
    font-weight: bold;
    font-weight: 1.5rem;
    padding: 0 15px;
    white-space: nowrap;
}
.wrap__hot > .list__hot{
    background: #EEF1F8;
    margin: 0.5rem 0rem;
}