.sectionFriend-dot{
    width: 10px;
    height: 10px;
    background: var(--color-green-300);
    margin-right: 0.5rem;
    border-radius: 50%;
}
.sectionFriend-text{
    color: var(--color-green-300);
    font-size: 1.125rem;
}
.home__friendList-slide{
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.home__friendList-slide::-webkit-scrollbar{
    display: none;
}
