.local__trend .custom__line{
  max-width: 17rem;
}

.local__trend .custom__title{
  color: var(--color-matisse);
  font-weight: bold;
  font-weight: 1.5rem;
  padding: 0 15px;
  white-space: nowrap;
}
.local__trend .btn__search--filter{
  width: 16rem;
  margin: 3.375rem 0;
}

.local__trend .filter__item--image{
  width: 13.687rem;
  height: 13.687rem;
  border-radius: 10px;
  border: 1px solid var(--color-matisse);
  cursor: pointer;
}

.local__trend .filter__item.active .filter__item--image{
  border: 1px solid var(--color-creamCan)
}
.local__trend .sub__text{
  cursor: pointer;
}
.local__trend .filter__item.active .sub__text{
  color: var(--color-creamCan);
  font-weight: bold;
}

.house__banner--container{
  height: 27rem;
  position: relative;
}
.house__banner--container .houses__image{
  position: absolute;
  bottom: 0;
  right: 0;
}

.house__banner--container .banner__text{
  position: absolute;
  left: calc((100vw - 1140px)/2);
  top: 4rem;
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 1200px) {
  .house__banner--container .banner__text{
    left: 0;
    width: 100%;
  }
}

.house__banner--container .banner__text .banner__text--top{
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.house__banner--container .banner__text .banner__text--middle{
  font-size: 3.75rem;
  color: var(--color-creamCan);
  margin-bottom: 1.5rem;
}
.house__banner--container .banner__text .banner__text--bottom{
  font-size: 2.81rem;
  margin-bottom: 1.5rem;
}