.eSlider>.slick-arrow {
  width: 4.5rem;
  height: 4.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-radius:50%;
}
.eSlider>.slick-arrow:hover {
   box-shadow: 0px 0px 10px 5px rgba(182, 143, 44, 0.4);
}
.eSlider>.slick-arrow-2:hover {
   box-shadow: none;
}


.eSlider>.slick-arrow>img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.eSlider>.slick-arrow::before {
  content: '';
}

.eSlider>.slick-next {
  right: 1rem;
}
.eSlider>.slick-next.no-right {
  right: -1rem;
}

.eSlider>.slick-prev {
  left: 1rem;
}.eSlider>.slick-prev.no-left {
  left: -1rem;
}

@media (max-width: 767.98px) {
  .eSlider>.slick-arrow {
    width: 4rem;
    height: 4rem;
  }
}
