.content_slide{
    position: absolute;
    top: 13rem;
    width: 21.6875rem;
    height: 500px;
    z-index: 1;
    left: calc((100vw)/6);
}
.project__arrow-ico {
    background-color: var(--color-creamCan);
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
.left__ico{
    top: 2rem;
    left: -1rem;
}
.right__ico{
    top: 2rem;
    right: -1rem;
}

.slide__panel {
    height: 40.4375rem;
}
.slide__panel img {
    height: 100%;
    width: 100%;
}
.project__card-slide{
    opacity: 0.98;
    border: 0.75px solid #204A9D;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(218, 164, 25, 0.2);
    border-radius: 10px;
}
.project__card-slide:hover{
    opacity: 0.98;
    border: 0.75px solid #204A9D;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.project__card-content{
    padding: 0rem 1.5rem 2rem !important;
  }