.grDetail--nameGroup {
  font-weight: bold;
  font-size: 2.25rem;
  text-decoration-line: underline;
  color: #ffffff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  background: transparent;
}
.grDetail--tabBlock {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.grDetail-text {
  font-size: 1.125rem;
  color: var(--color-matisse);
  padding: 1.75rem;
    display: grid;
    place-items: center;
}
.grDetail-text.text_active {
  background: #f4f7fc;
  border-bottom: 5px solid var(--color-matisse);
}
.grDetail__tab--info {
  background: #ffffff;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin-top: 5rem;
}
.grDetail__tab--info > .header__tab {
  border-bottom: 1px solid var(--color-matisse);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-tab {
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 6.5rem;
  height: 6.5rem;
  margin-top: -5rem;
}
@media (max-width:1441px){
  .avatar-tab {
    margin-top: -3rem;
  }
  .grDetail__tab--info > .header__tab{
    padding: 0rem 1.5rem 2rem;
  }
}
.detail__header-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.8rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--color-matisse);
}
.wrap__edit {
  display: flex;
}
.wrap__edit > .settings__group {
  padding: 0.5rem;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 0.5rem;
}
.wrap__edit > .settings__group {
  cursor: pointer;
}
.wrap__edit > .settings__picture {
  padding: 0.5rem;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  border-radius: 30px;
}
.wrap__name-group > .name__group {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #204a9d;
}
.col__avatar-admin > .avatar__admin {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: solid 2px transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #2491df, #41de9c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 0.5rem;
}
.grDetail__tab--info > .detail__tab {
  padding: 1.5rem 2rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-matisse);
}
.detail__tab > .row__admin {
  align-items: center;
  margin-bottom: 2.5rem;
}
.detail__tab > .row__introduce {
  margin-bottom: 2.5rem;
}
.row__introduce .color_yellow:hover {
  cursor: pointer;
}
.detail__tab .color_yellow:hover {
  cursor: pointer;
}
.content__rules {
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--color-matisse);
}
/* file */
.grDetail__tab--file {
  background: #ffffff;
  border: 0.75px solid #204a9d;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem 1.5rem;

  margin-top: 2rem;
}
.grDetail__tab--file > .span__file {
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.25rem;
  color: #0f4d98;
  margin: 1.5rem 0rem;
}
.grDetail__tab--file > .line__space {
  width: 100%;
  border-top: 1px solid var(--color-matisse);
  margin: 1rem 0rem;
}
.grDetail__tab--file > .head__file {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #0f4d98;
}
.grDetail__tab--file > .content__file {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #0f4d98;

  align-items: center;
  margin-bottom: 0.5rem;
}
.grDetail__tab--file > .show__all {
  height: 13rem;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  margin-top: -10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: white;
  z-index: -1;
}
.show__all > .link__all{
    color: var(--color-matisse);
}
.grDetail--nameGroup{
    font-weight: bold;
    font-size: 2.25rem;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    background: transparent;
}
.grDetail--tabBlock{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display:flex;
    justify-content:space-around;
    margin-bottom: 1.5rem;
}
.grDetail--tabBlock>span{
    cursor: pointer;
}

.grDetail__tab--info{
    background: #FFFFFF;
    border: 0.75px solid #204A9D;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    position: relative;
}

.picVid__title{
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color-toryBlue);

}
.picVid__col{
    height: 12.5rem;
}
.picVid__seeAll{
    font-size: 1.125rem;
    color: var(--color-toryBlue);
    text-align: center;
    height: 20%;
    background: linear-gradient(180deg, rgba(251,178,0,0) 0%, rgba(255,255,255,1) 80%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5rem
}

.grDetail__members-title{
    width: 8rem;
    font-weight: bold;
    font-size: 1.125rem;
    color: #0F4D98;
    flex-shrink: 0;
}
.grDetail__members__title-modal{
    font-weight: bold;
    font-size: 1.125rem;
    color: #0F4D98;
    margin: 1rem;
}
.grDetail__flexColUnder1365{
    display: flex;
    align-items: flex-start;
}
.grDetail__tab--info.grDetail__tab--info-picVid{
    max-height: 50rem;
    overflow: hidden;
}
.grDetail__tab--info.grDetail__tab--info-members{
    max-height: 50rem;
    overflow: hidden;
}
.member--name{
    color: var(--color-toryBlue);
    font-weight: bold;
    word-break: break-word;
}
.member--rank{
    color: var(--color-toryBlue);
    font-size: 0.875rem;
    word-break: break-word;
}
@media (min-width:1440px){
    .picVid__col{
        max-width: 20%;
        flex: 0 0 20%;
    }


}
@media (max-width:1440px){
    .grDetail-text{
        padding: 1rem;
    }

}
@media (max-width:575px){
    .grDetail-text{
        padding: 0.5rem;
    }

}

@media (max-width:1365px){
    .grDetail__flexColUnder1365{
        flex-direction: column;
        align-items: end;
    }
}

.grDetail__tab--file > .content__file:hover {
cursor: pointer;
}
