.rec__user-upload > .avatar__user {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}
.rec__user-upload {
  display: flex;
  align-items: center;
}
.detail > .name {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0F4D98;
}
.detail > .time {
  font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #CECECE;
}