.sectionSearch{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    width: 100%;
    margin: auto;
    background: white;
}

.sectionSearch-input{
    max-width: 25rem;
}
.inputSearch-input{
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: 0 1.5rem;
    border-radius: 50px;
    overflow: hidden;
    background-color:#F4F7FC ;
}

.input-group>.form-control.inputSearch-text {
    height: 3.125rem;
    background-color: transparent;
    border: none;
    color: var(--color-toryBlue)
}
.input-group>.form-control.inputSearch-text:focus {
    box-shadow: none;
}

.input-group>.form-control.inputSearch-text.rec_prefix{
}

.sectionSearch__postStatus-button{
    background: #F5BE54;
    border-radius: 33px;
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.875rem;
    width: 13rem;
    cursor: pointer;
}
.sectionSearch__postStatus-button:hover{
    box-shadow: 0px 0px 10px 5px rgba(218, 164, 25, 0.2);
}

.sectionSearch__postStatus-button>span{
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-left: 1rem;
    margin-bottom: 0;
}

.sectionSearch__feature-buttons{
    display: flex;
    align-items: stretch;
    justify-content:flex-end;
    height:100%;
}

.search__feature-icon{
    width: 96px;
    display: grid;
    place-items:center;
    cursor: pointer;
    position: relative;
}
.search__feature-icon>.search__icon-block{
    position: relative;
}
.search__feature-icon:hover{
    background: #F4F7FC;
}
.notification-popup{
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 2;
    cursor: auto;

}

.notification-block{
    background: var(--color-white);
    border: 0.75px solid #204A9D;
    box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 26.5rem;
    max-height: 40rem;
    padding: 1.5rem 2rem;
    overflow: hidden;
}
.notification__header{
    display: flex;
    justify-content: space-between;
}
.notification__icon{
    cursor: pointer;
}
.notification__content{
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
}
.notification-block .notification__content:last-child{
    margin-bottom: 0;
}
.notification__name{
    font-weight: bold;
    color: var(--color-matisse);
}
.notification__message{
    color: var(--color-matisse);
}
.notification__message.notification__message-notSeen{
    color: var(--color-creamCan);
}
.notification__content-image{
    flex-shrink: 0;
    margin-right: 1.5rem;
}
.serce__badge{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: var(--color-red-300);
    padding: 0 0.25rem;
    border-radius: 30px;
    color: var(--color-white);
}
.search__feature-icon.search__feature-icon-active{
    background: #F4F7FC;
    border-bottom: 5px solid var(--color-toryBlue) ;
}

.search__feature-icon>img{
    width: 1.75rem;
    height: 1.75rem;
}
@media(max-width: 991.98px){
    .sectionSearch{
        border-radius:10px;
        padding: 0rem 2rem;
    }
    .sectionSearch__feature-buttons{
        justify-content: center;
        height: 84px;
    }
}@media(max-width: 767px){
    .notification-popup{
        right: auto;
    }
    .sectionSearch{
        padding: 0rem 1rem;
    }
}
