.cardProfile {
  box-sizing: border-box;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0.75px solid #204A9D;
  width: 100%;
  overflow: hidden;
}

.cardProfile-header {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative;
}

.cardProfile-header.type1 {
  height: 4rem;
  position: relative;
}

.cardProfile__header-image {
  position: absolute;
  bottom: -50%;
  width: 5rem;
  height: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.cardProfile-body {
  padding: 2rem;
  text-align: center;
}

.cardProfile-name {
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration-line: underline;
  color: #204A9D;
  margin-bottom: 0.675rem;
}

.cardProfile-title {
  font-size: 0.875rem;
  color: rgba(32, 74, 157, 0.5);
  margin-bottom: 2rem;
}

.cardProfile-company {
  font-size: 0.875rem;
  color: var(--color-matisse);
  margin-bottom: 1.5rem;
}

/* TYpe 2 + */

.cardProfile__header-title {
  color: var(--color-white);
  font-weight: bold;
  font-size: .875rem;
}

.cardProfile__header-share {
  position: absolute;
  right: 1rem;
  bottom: -50%;
  width: 2.375rem;
  height: 2.375rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 99%;
}

.cardProfile-body-02{
  padding: 1.5rem;
}
.cardProfile__2-detail{
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cardProfile__text {
  font-size: 0.875rem;
  color: #204A9D;
  word-break: break-all;
}

.cardProfile-3__group {
  font-weight: bold;
  font-size: 1.25rem;
  color: #204A9D;
  margin-bottom: 0.5rem;
}
.cardProfile-3__members{
  font-size: 1rem;
  color: rgba(32, 74, 157, 0.5);
}
.cardProfile3-footer{
  padding: 1rem;
  display: grid;
  place-items: center;
  color: #204A9D;
  font-size: 0.875rem;
}

.cardProfile4-body{
  margin-bottom: 1.5rem;
}
.cardProfile-body-group{
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.cardProfile-body-02 .cardProfile4-body:last-child{
  margin-bottom: 0 ;
}
.cardProfile-body-02 .cardProfile__2-detail:last-child{
  margin-bottom: 0 ;
}
.cardProfile-body-02 .cardProfile-body-group:last-child{
  margin-bottom: 0 ;

}

.cardProfile__text-4{
  font-weight: bold;
  font-size: 1rem;
  color: #204A9D;
}
.cardProfile4-buy{
  background: #418CE8;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  color: white;
  font-size: 0.875rem;
}.cardProfile4-sell{
  background: var(--color-green-300);
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  color: white;
  font-size: 0.875rem;
}
.cardProfile5__link{
  font-size: 1.125rem;
  color: #0F4D98
}

@media (max-width : 1200px){
  .cardProfile__2-detail{
   flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .cardProfile-3__group {
    margin-bottom: 0rem;
  }
  .cardProfile-body-group{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
