.eContainer-dashboard-loggedIn {
  margin: auto;
  max-width: 100%;
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .eContainer-dashboard-loggedIn {
    margin: auto;
    max-width: 1400px;
  }
}

