.modal-dialog.maxW-90vw{
    max-width: 90vw;
}
.modal-dialog.height90vh{
    height: 90vh;
}
.modal-dialog.maxW-75vw{
    max-width: 75vw;
}
.modal-dialog.maxW-50vw{
    max-width: 50vw;
}
.modal-dialog.maxW-700px{
    max-width: 700px;
}
