/* DATEPICKER FULL 100% WIDTH */

.rec__date{
  width: 100%;
}

.rec__date .react-datepicker-wrapper,
.rec__date .react-datepicker__input-container,
.rec__date .react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.rec__date .react-datepicker__header{
  background-color: white;
}

/* CUSTOM INPUT STYLE - COLOR */
.rec__date__input{
  height: 50px;
  width: 100%;
  border: 0.75px solid var(--color-matisse);
  border-radius: 10px;
  padding-left: 58px;
  color: var(--color-matisse);
}

.rec__date__input--icon{
  position: absolute;
  top: 15px;
  left: 22px;
  z-index: 1;
}

/* COLOR UPDATE */
.rec__date div.react-datepicker__current-month, 
.rec__date div.react-datepicker-time__header, 
.rec__date div.react-datepicker-year-header,
.rec__date div.react-datepicker__day-name,
.rec__date div.react-datepicker__day-name, 
.rec__date div.react-datepicker__day, 
.rec__date div.react-datepicker__time-name{
  color: var(--color-matisse);
}

.rec__date .react-datepicker{
  border-color: var(--color-matisse);
}

.rec__date div.react-datepicker__day--selected{
  color: white;
}