.grDetailLeft-image{
    border-radius: 20px;
    border:  5px solid #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto 1.5rem;
    overflow: hidden;
    height: 320px;
}
.grDetail--right--excellent{
    background: white;
    border-radius:10px;
    border: 3px solid var(--color-creamCan);
    overflow: hidden;
}
.grDetail--suggestMembers{
    border: 0.75px solid #204A9D;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.grDetail__suggestMembers--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.grDetail--suggestMembers .grDetail__suggestMembers--item:last-child{
    margin-bottom: 0;
}

@media (min-width: 1440px){

}
