button.solid_button {
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 3.125rem;
  border-radius: 15px;
  border: none;
}
button.solid_button.padding1rem{
  padding-left: 1rem;
  padding-right: 1rem;
}
.solid_button.solid_button-yellow {
  background-color: var(--color-creamCan);
  color: var(--color-white);
}

.solid_button.solid_button-yellow:hover {
  box-shadow: 0 0 5px var(--color-creamCan) ;

}
.solid_button.solid_button-blue {
  background-color: var(--color-toryBlue);
  color: var(--color-white);
}

.solid_button.solid_button-blue:hover {
  box-shadow: 0 0 5px var(--color-toryBlue) ;
}
.solid_button.solid_button-blue-100 {
  background-color: var(--color-blue-100);
  color: var(--color-toryBlue);
}

.solid_button.solid_button-blue-100:hover {
  box-shadow: 0 0 5px var(--color-toryBlue) ;
}

@media (max-width: 767.98px) {
  button.solid_button {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(min-width: 992px) {
  button.solid_button {}
}

@media(min-width: 1470px) {
  button.solid_button {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
