/* Login là chưa đăng nhập*/

.carousel__area {
  height: 27.5rem;
  overflow: hidden;
}

.carousel__area-image {
  height: 27.5rem;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.home__register__button-login {
  margin: 3.375rem auto;
  width: 100%;
  display: grid;
  place-items: center;
}

.home_register_text {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: var(--color-toryBlue);
}

.homeSlide-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  padding-top: 10rem;
  padding-left: calc((100vw - 1114px)/2);
}

.homeSlide__title {
  max-width: 1114px;
  z-index: 10;
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.homeSlide__subTitle {
  max-width: 1114px;
  z-index: 10;
  color: var(--color-creamCan);
  font-size: 1.125rem;
}

/* === === Custom Slick Dot === === */

/*
.carousel__area .slick-slider {
  height: 100%;
}

.carousel__area .slick-slider .slick-list {
  height: 100%;
}

.carousel__area .slick-slider .slick-list .slick-track {
  height: 100%;
}

.carousel__area .slick-slider .slick-list .slick-track .slick-slide {
  height: 100%;
}

.carousel__area .slick-slider .slick-list .slick-track .slick-slide>div {
  height: 100%;
} */

.carousel__area .slick-dots {
  left: 0;
  bottom: 6.625rem;
  z-index: 10;
  width: max-content;
  padding-left: calc((100vw - 1114px)/2);
}

.carousel__area .slick-dots>li>button::before {
  content: none;
}

.carousel__area .slick-dots>li.slick-active>button::before {
  content: none;
}

.carousel__area .slick-dots>li {
  border-radius: 99px;
  height: 0.5rem;
  width: 0.5rem;
}

.carousel__area .slick-dots>li.slick-active>button {
  background: var(--color-creamCan);
}

.carousel__area .slick-dots>li>button {
  background: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 99px;
  font-size: 1px;
  padding: 0;
  opacity: 1;
}

/* === === Custom Slick Dot === === */

/* === === Search === === */

.home__search {
  border: 0.75px solid #204A9D;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  transform: translateY(-50%);
  background: white;
  z-index: 11;
}

.home__search__input {
  padding: 0.8rem 1.3rem;
}

.search__result-block {
  border: 0.75px solid #204A9D;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  background: white;
  margin-top: -2rem;
}

.search-result {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-result-image {
  width: 1.5625rem;
  height: 1.5625rem;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 999px;
  overflow: hidden;
  /* border: 1px solid red; */
}

.search-result-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.search-result-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-result-data>span {
  font-size: 1.125rem;
  color: #204A9D;
}

.search-result-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result-button>span {
  margin-left: 0.75rem;
  font-size: 1.125rem;
  color: #F5BE54;
}

.search-dot-separator {
  width: 5px;
  height: 5px;
  background: #8FA4CE;
  border-radius: 99px;
  margin: 0 0.75rem;
}

.quickView {
  border: 0.75px solid #204A9D;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  background: white;
  position: relative;
  margin-top: -2rem;
}

.quickView__moreInfo {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
}

.quickView-header {
  margin-bottom: 1.5rem;
}

.quickView-header-image {
  width: 4.75rem;
  height: 4.75rem;
}

.quickView-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.header-info-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration-line: underline;
  color: #204A9D;
}

.header__info-noUnderline {
  font-weight: bold;
  font-size: 1.5rem;
  color: #204A9D;
}

.header-info-isPro {
  border-radius: 5px;
  border: 1px solid var(--color-purple);
  display: grid;
  place-items: center;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
}

.header-info-isPro>span {
  font-weight: bold;
  font-size: 0.875rem;
  color: #961781;
  text-transform: uppercase;
}

.header-info-subTitle {
  font-size: 1.125rem;
  color: rgba(32, 74, 157, 0.5);
}

.quickView-review {
  padding: 1.5rem 0;
  display: flex;
}

.quickView-info {
  margin-top: 1.5rem;
}

.quickView-info-title {
  font-size: 1.125rem;
  color: #204A9D;
  font-weight: bold;
}

.quickView__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.quickView__button>span {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: #204A9D;
}

.quickView__button-image {
  height: 100%;
}

.review-rating {
  display: flex;
  align-items: center;
}

.review-rating>span {
  font-size: 18px;
  color: #204A9D;
}

.review__contact {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.review__contact-button {
  border: 0.5px solid #082858;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.review__contact-button>span {
  font-size: 18px;
  color: #204A9D;
  margin-left: 1rem;
}

/* === === Search === === */

/* === === FORM AUTHEN === === */

.formAuth__title {
  color: var(--color-toryBlue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: center;
}

.form__slide-title {
  color: var(--color-toryBlue);
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.25rem;
}

.form__slide-subTitle {
  color: var(--color-toryBlue);
  font-size: 1.125rem;
  text-align: center;
}

.form__carousel__area {
  width: 100%;
  overflow: hidden;
  margin: 5rem auto;
  padding: 2rem 0;
}

.form__carousel__area .slick-dots {
  z-index: 10;
}

.form__carousel__area .slick-dots>li>button::before {
  content: none;
}

.form__carousel__area .slick-dots>li.slick-active>button::before {
  content: none;
}

.form__carousel__area .slick-dots>li {
  border-radius: 99px;
  height: 0.5rem;
  width: 0.5rem;
}

.form__carousel__area .slick-dots>li.slick-active>button {
  background: var(--color-creamCan);
}

.form__carousel__area .slick-dots>li>button {
  background: rgba(15, 77, 152, 0.2);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 99px;
  font-size: 1px;
  padding: 0;
  opacity: 1;
}

/* Form */

.form__field-label {
  color: var(--color-toryBlue);
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* === === FORM AUTHEN === === */

/* === === === Register NOw === === ===  */

.register__wallpaper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 27.5rem;
}

.register_info-text {
  color: var(--color-white);
  margin-left: 2.5rem;
  font-size: 1.125rem;
}

.custom-container-1114 {
  max-width: 100%;
  margin: auto
}

.register__title-1 {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-toryBlue);
  text-transform: uppercase;
}

.register__title-2 {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-creamCan);
}

.register__info-image {
  margin-top: -10rem
}

/* === === === Register NOw === === ===  */

/* === === === Pricing === === ===  */

.pricing-block {
  margin-top: 5rem;
}

.pricing__card {
  margin-bottom: 1rem;
  width: 100%;
  height: 22rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 0 1.5rem;
}

.pricing__card-image {
  margin-top: -2rem;
  transform: translateY(-2rem);
  height: 150px;
}

.pricing__card-title {
  font-weight: bold;
  font-size: 4rem;
  color: #F5BE54;
}

.pricing__card-subTitle {
  font-weight: bold;
  font-size: 1.375rem;
  color: #0F4D98;
}

/* === === === Pricing === === ===  */

/* === === === Real estate === === ===  */

.realEstate__block {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.realEstate__title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #0F4D98;
}

/* === === === Real estate === === ===  */

@media(max-width: 1440px) {
  .pricing__card {
    height: 25rem;
  }
  .pricing__card-title {
    font-size: 3rem;
  }
  .homeSlide-container {
    top: 0;
    padding-top: 4rem;
    padding-left: 4rem;
  }
  .carousel__area .slick-dots {
    bottom: 4rem;
    padding-left: 4rem;
  }
}

@media(max-width: 991.98px) {
  .register__title-1 {
    font-size: 1.5rem;
  }
  .register__title-2 {
    font-size: 2rem;
  }
  .register__info-image {
    display: none;
    width: 100%;
    margin-top: 0rem;
  }
  .register_info-area {
    max-width: 75%;
    margin: auto;
  }
  .homeSlide-container {
    top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .carousel__area .slick-dots {
    bottom: 1rem;
    z-index: 10;
    width: 100%;
    padding-left: 0;
  }
  .home__search {
    transform: translateY(0);
    margin-top: 1rem;
  }
  .carousel__area {
    height: 50vh;
    overflow: hidden;
  }
  .carousel__area-image {
    height: 50vh;
  }
  .search__result-block {
    margin-top: 0.5rem;
  }
  .quickView {
    margin-top: 0.5rem;
  }
  .quickView-review {
    flex-wrap: wrap;
  }
}

@media(max-width: 767.98px) {
  .home__register__button-login {
    margin: 2rem auto;
  }
  .home_register_text {
    font-size: 1rem;
  }
  .homeSlide__title {
    font-size: 1.75rem;
  }
  .homeSlide__subTitle {
    font-size: 1rem;
  }
  .formAuth__title {
    font-size: 1rem;
  }
  .form__carousel__area {
    margin: 2rem auto;
  }
  .form__field-label {
    font-size: 1rem;
  }
  .formAuth-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .register__title-1 {
    font-size: 1rem;
  }
  .register__title-2 {
    font-size: 1.25rem;
  }
  .search-result {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {}

@media(min-width: 576px) {
  .homeSlide__title {
    max-width: 540px;
  }
  .homeSlide__subTitle {
    max-width: 540px;
  }
  .custom-container-1114 {
    max-width: 520%;
    margin: auto
  }
}

@media(min-width: 768px) {
  .homeSlide__title {
    max-width: 720px;
  }
  .homeSlide__subTitle {
    max-width: 720px;
  }
  .custom-container-1114 {
    max-width: 720px;
    margin: auto
  }
}

@media(min-width: 992px) {
  .homeSlide__title {
    max-width: 960px;
  }
  .homeSlide__subTitle {
    max-width: 960px;
  }
  .formAuth-form {
    padding-left: 5rem;
  }
  .custom-container-1114 {
    max-width: 960px;
    margin: auto
  }
}

@media(min-width: 1200px) {
  .homeSlide__title {
    max-width: 1114px;
  }
  .homeSlide__subTitle {
    max-width: 1114px;
  }
  .formAuth-form {
    padding-left: 10rem;
  }
  .custom-container-1114 {
    max-width: 1114px;
    margin: auto
  }
}
