.rec_task {
  right: 10rem;
  top: 5rem;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ico-toolbar {
  width: 1.6rem;
}
.tab_ico {
  padding: 1.3rem;
}
.tab_ico:hover {
  cursor: pointer;
  background-color: #0F4D98;
}
.rec_task > .tab_home{
  padding-top: 2rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.rec_task > .tab_friend{
  padding-bottom: 2rem;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.bg_active{
  background-color: #0F4D98;
}
.wrap_notify > .tab_content_notify {
  position: absolute;
    transform: translateX(-25rem);
    background: white;
    width: 24rem;
    height: 80rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}