:root {
  --color-creamCan: #F5BF54;
  --color-creamCan-shadow: #daa41933;
  --color-toryBlue: #0F4D98;
  --color-matisse: #204A9D;
  --color-blue-300: #276DC0;
  --color-blue-100: #E7F1FF;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-purple: #961781;
  --color-whiteLilac: #EEF1F8;
  --color-green-300: #50D69E;
  --color-red-300: #E92A2A;
}

.color-creamCan {
  color: var(--color-creamCan)
}

.color-toryBlue {
  color: var(--color-toryBlue)
}

.color-matisse {
  color: var(--color-matisse)
}

.color-white {
  color: var(--color-white)
}

.color-black {
  color: var(--color-black)
}

.color-whiteLilac {
  color: var( --color-whiteLilac)
}
