input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.font-22 {
  font-size: 1.375rem;
}

@media (max-width: 767.98px) {
  .font-22 {
    font-size: 1rem;
  }
}

.object-fit-cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-gallery-content .image-gallery-slide .image-gallery-image{
  min-height: 70vh;
  max-height: 70vh !important;
}
