@import './colors.css';
@import './atomics.css';
@import './custom.css';
@import './animate.css';
@import "~react-image-gallery/styles/css/image-gallery.css";
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Averta;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Intelligent Design - AvertaStdCY-Regular_3.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Intelligent Design - AvertaStdCY-Bold_1.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Intelligent Design - AvertaStdCY-RegularItalic_1.otf') format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Intelligent Design - AvertaStdCY-BoldItalic_1.otf') format("opentype");
  font-weight: bold;
  font-style: italic;
}

@media(min-width: 1470px) {
  .container {
    max-width: 1470px;
  }
}

@media(max-width: 767.98px) {
  html {
    font-size: 14px;
  }
}

.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(91.67deg, rgba(84, 90, 245, 0.7) 7.17%, rgba(8, 40, 88, 0.7) 87.28%);
  opacity: 0.8;
  z-index: 1;
}

.error_message {
  color: red;
  font-size: 0.875rem;
}

.eSeparator-horizontal {
  width: 100%;
  height: 0.5px;
  border-top: 0.5px solid #204A9D;
}

.eSeparator-vertical {
  width: 1px;
  border-right: 0.5px solid #204A9D;
}

@media (min-width: 1440px) {
  .xxl-col-20{
    max-width: 20%;
    flex: 0 0 20%;
  }
}@media (max-width: 1439.98px) {
  .xxl-col-20{
    max-width: 20%;
    flex: 0 0 20%;
  }
  .xxl-col-100{
    max-width: 100%;
    flex: 0 0 100%;

  }
 .eSeparator-vertical.lessThan1440 {
    display:none
  }
}
